body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.show-container {
  margin: auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.show-card {
  max-width: 210px;
  max-height: 292px;
  margin-bottom: 20px;
}

.card-title {
  text-decoration: none;
  color: black;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
